* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	font-family: arial, sans-serif;
}

.wrapper {
	width: 100%;
}

.scoreboard {
	width: 100%;
	background-color: #eee; 
	height: 65px;
}

.topEvents {
	border-right: 1px solid black;
	height: 65px;
	width: 160px;
	float: left;
}

.dropdown-toggle {
	margin-left: 25px;
	margin-top: 15px;
}

.titleLeague {
	float: left;
	height: 65px;
	width: 90px;
	border-right: 1px solid black;
	padding-left: 20px;
	padding-top: 23px;
}

.golfScore {
	float: left;
	width: 160px;
	height: 65px;
	background-color: white;
	font-size: .9em;
	border-right: 1px solid black;
}

.overview p {
	color: red;
	text-align: center;
}

.event-status {
	text-align: center;
	margin-top: -10px;
}

.standing {
	text-align: center;
	margin-top: -5px;
}

.standing img {
	margin-top: -4px;
}

.mlbGame {
	float: left;
	border-right: 1px solid black;
	width: 100px;
	height: 65px;
	background-color: white;
}

.competitors {
	display: table-cell;
	list-style-type: none;
}


