* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	font-family: arial, sans-serif;
}

.wrapper {
	width: 100%;
}

.scoreboard {
	width: 100%;
	background-color: #eee; 
	height: 65px;
}

.topEvents {
	border-right: 1px solid black;
	height: 65px;
	width: 160px;
	float: left;
}

.dropdown-toggle {
	margin-left: 25px;
	margin-top: 15px;
}

.titleLeague {
	float: left;
	height: 65px;
	width: 90px;
	border-right: 1px solid black;
	padding-left: 20px;
	padding-top: 23px;
}

.golfScore {
	float: left;
	width: 160px;
	height: 65px;
	background-color: white;
	font-size: .9em;
	border-right: 1px solid black;
}

.overview p {
	color: red;
	text-align: center;
}

.event-status {
	text-align: center;
	margin-top: -10px;
}

.standing {
	text-align: center;
	margin-top: -5px;
}

.standing img {
	margin-top: -4px;
}

.mlbGame {
	float: left;
	border-right: 1px solid black;
	width: 100px;
	height: 65px;
	background-color: white;
	font-size: 10px;
}

div.mlbGame div.overview {
	padding-left: 10px;
}

.competitors {
	display: table;
	list-style-type: none;
}

.logo {
	float: left;
}

.team {
	float: left;
	margin-left: 4px;
}

.record {
	float: right;
	margin-left: 20px;
	color: #999;
}

.away {
	height: 20px;
	margin-top: 8px;
}

.abbreviation {
	font-size: 12px;
}

.scoreArrow {
	height: 65px;
	background-color: #eee;
	float: left;
	margin-left: 15px;
	padding-top: 10px;
}

#navbar {
	width: 100%;
	height: 50px;
	background-color: #272727;
}

.espnLogo {
	float: left;
}

.list ul {
	float: left;
	display: -webkit-box;
	padding-left: 10px;
	list-style-type: none;
	color: white;
}

.list ul li {
	padding-left: 17px;
	padding-top: 14px;
	font-size: 16px;
}

li > .dots {
	font-size: 24px;
	padding-top: 12px;
}

.navRight ul {
	float: right;
	display: -webkit-box;
	list-style-type: none;
	color: white;
	padding-left: 10px;
	margin-right: 20px;
}

.navRight ul li {
	padding-left: 17px;
	padding-top: 14px;
	font-size: 16px;
}

.contentWrapper {
	background-color: #eee;
	width: 100%;
	height: 2000px;
}

.contentArea {
	width: 1100px;
	height: 2000px;
	background-color: #eee;
	margin-left: 80px;
	padding-top: 20px;
}

.faveSection {
	width: 165px;
	float: left;
}

.faveline {
	width: 165px;
}

.faveline div {
	float: left;
	width: 100px;
}

h4 {
	display: inline;
	color: #b3b3b3;
}

.faveline span {
	float: right;
}

.fa-cog {
	float: right;
	color: #b3b3b3;
	padding-top: 4px;
}

.faveBox {
	width: 165px;
	height: 100px;
	background-color: white;
	margin-top: 10px;
}

.insiderWrapper {
	width: 160px;
	padding-left: 7px;
	height: 40px;
	padding-top: 4px;
}

.insiderWrapper img {
	width: 40px;
	float: left;
}

.insiderSpan {
	background-color: #FF790D;
	float: right;
	color: white;
	width: 100px;
	height: 37px;
	text-align: right;
	font-size: 15px;
	padding-right: 6px;
	padding-top: 8px;
}

.faveText {
	color: #666666;
	background-color: #F8F8F8;
	width: 155px;
	height: 50px;
	margin-left: 5px;
	margin-top: 4px;
	font-size: 10px;
}

.faveText p {
	padding-left: 10px;
	padding-top: 3px;
}

.falconsWrapper {
	width: 160px;
	padding-left: 7px;
	height: 40px;
	padding-top: 4px;
}

.falconsWrapper img {
	width: 40px;
	float: left;
}

.falconsSpan {
	background-color: #000;
	float: right;
	color: white;
	width: 100px;
	height: 37px;
	text-align: right;
	font-size: 15px;
	padding-right: 6px;
	padding-top: 8px;
}

.falconsSpan h5 {
	margin-top: -6px;
	margin-bottom: -10px;
}

.falconsSpan p {
	font-size: 8px;
	margin-top: 12px;
}

.gasoWrapper {
	width: 160px;
	padding-left: 7px;
	height: 40px;
	padding-top: 4px;
}

.gasoWrapper img {
	width: 40px;
	float: left;
}

.gasoSpan {
	background-color: #003775;
	float: right;
	color: white;
	width: 100px;
	height: 37px;
	text-align: right;
	font-size: 15px;
	padding-right: 6px;
	padding-top: 8px;
}

.gasoSpan h5 {
	margin-top: -6px;
	margin-bottom: -10px;
}

.gasoSpan p {
	font-size: 8px;
	margin-top: 12px;
}

.texWrapper {
	width: 160px;
	padding-left: 7px;
	height: 40px;
	padding-top: 4px;
}

.texWrapper img {
	width: 40px;
	float: left;
}

.texSpan {
	background-color: #EE7524;
	float: right;
	color: white;
	width: 100px;
	height: 37px;
	text-align: right;
	font-size: 15px;
	padding-right: 6px;
	padding-top: 8px;
}

.texSpan h5 {
	margin-top: -6px;
	margin-bottom: -10px;
}

.texSpan p {
	font-size: 8px;
	margin-top: 12px;
}

.manageFaves {
	margin-top: 10px;
	background-color: #eee;
	width: 165px;
	height: 40px;
	border: 1px solid #3a7fef;
	color: #3a7fef;
	border-radius: 6px;
	font-size: 12px;
}

.copyright {
	margin-top: 25px;
	font-size: 11px;
}

.newsWrapper {
	width: 550px;
	height: 650px;
	background-color: white;
	float: left;
	margin-left: 30px;
}

.headlineImage img {
	width: 100%;
	height: 225px;
}

.photoCred {
	text-align: right;
	font-size: 10px;
	padding-right: 10px;
	padding-top: 3px;
	color: gray;
}

.mainScore {
	width: 235px;
	height: 370px;
	float: left;
	border-right: 1px solid #ddd;
	margin-top: 10px;
}

.mainTime {
	color: gray;
	font-size: 10px;
	padding-left: 8px;
}

.mainHeadline {
	font-size: 20px;
	padding-left: 8px;
}

.mainPar {
	padding-left: 8px;
	color: gray;
	font-size: 14px;
	width: 96%;
	padding-top: 10px;
}

.scoreBox {
	border: 1px solid #ddd;
	width: 84%;
	color: black;
	margin-top: 9px;
	margin-left: 18px;
	padding: 7px 0 7px 7px;
	height: 60px;
}

.leftScoreBox {
	height: 45px;
	border-right: 1px solid #ddd;
	float: left;
	width: 50%;
}

div.leftScoreBox ul li {
	margin-top: 2px;
	padding-top: 2px;
}

div.leftScoreBox ul li .logo img {
	margin-top: -5px;
}

div.leftScoreBox ul li .record {
	color: black;
}

div.leftScoreBox ul li .team .abbreviation {
	padding-left: 10px;
}

.rightScoreBox {
	height: 45px;
	float: right;
	width: 50%;
	color: red;
	padding-left: 7px;
	font-size: 10px;
	padding-top: 4px;
}

.newsStories {
	width: 290px;
	height: 370px;
	float: right;
	margin-top: 10px;	
}

.topHeadlines {
	font-size: 20px;
}

.newsStories p {
	margin-top: 8px;
	font-size: 12px;
	padding-top: 6px;
}

.instantFeed {
	float: left;
	width: 350px;
	height: 500px;
	padding-left: 20px;
}

.instantFeed p {
	font-size: 20px;
}

.astrosFeed {
	width: 348px;
	height: 145px;
	background-color: white;
}

.astrosTitleWrapper {
	width: 100%;
	height: 80px;
}

.astrosFeed img {
	padding-left: 12px;
	padding-top: 10px;
	float: left;
}

.astrosTitleWrapper ul {
	padding-left: 10px;
}

.astrosTitleWrapper ul li {
	list-style-type: none;
	display: block;
	font-size: 11px;
	padding-top: 6px;
	padding-left: 50px;
}

.astrosFeed p {
	font-size: 12px;
	padding-left: 10px;
	margin-top: -10px;
}

.astrosFeed p span {
	color: blue;
}

.fa-twitter {
	color: #51ABD5;
	margin-left: 10px;
	float: left;
}

.bottomTwitter li {
	list-style-type: none;
	display: inline;
}

